<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>control FormData with Formidable</title>
  </head>
  <body>
    <progress id="progress" max="100" value="0">0%</progress>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery-2.1.4.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
